@import "/public/styles/style.scss";

//Mobile
.cards {
    width: 98%;
    height: auto;
    margin: 1rem auto;
    &__title {
        font-size: small;
    }
    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        a {
            text-decoration: none;
        }

        &__card {
            border: 2px solid $color-6;
            border-radius: 16px;
            width: 100%;
            // height: 60%;
            background-color: $color-3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        &__cardbody {
            img {
                width: 100%;
                max-height: fit-content;
                border-radius: 16px 16px 0 0;
                border-bottom: 2px solid $color-6;
            }
            p {
                text-align: center;
                color: $color-7;
                margin: 0;
            }
        }
    }
}

//Tablet
@media only screen and (min-width: 768px) {
    .cards {
        &__box {
            &__card {
                width: 80%;
            }
        }
    }
}

//Desktop
@media only screen and (min-width: 1024px) {
    .cards {
        margin-top: 6rem;
        &__title {
            font-size: large;
            font-weight: 600;
            margin-bottom: 3rem;
        }
        &__box {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            &__card {
                width: auto;
            }
            &__card:hover {
                transform: translateY(-10px);
            }
            &__cardbody {
                p {
                    font-size: large;
                    font-weight: 600;
                    margin: 1rem auto;
                }
            }
        }
    }
}
