@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800;900&display=swap);
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    transition: 200ms;
}

$color-0: #f7f3ce;
$color-1: #FFF38C;
$color-2: #F0E161;
$color-3: #D9CB50;
$color-4: #C0B236;
$color-5: #cee5d0;
$color-6: #94b49f;
$color-7: #545454;