@import "/public/style.scss";

/*Mobile*/
.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin:1rem auto;
    flex-wrap: wrap;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
    .list{
        width: 90%;
        flex-direction: row;
    }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {

}
