@import "/public/styles/style.scss";

//Mobile
.product-list {
    background-color: #f9f9f9;
    width: 85%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}
/*Tablet*/
@media only screen and (min-width: 768px) {
    .product-list {
        &__product-card {
            width: 35%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .product-list {
        background-color: #f9f9f9;
        width: 85%;
        margin: 2rem auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

